<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments.html :: head"></head>
<body>
	<section class="login spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login__form">
						<h3 th:text="${mainTitleText}">비밀번호 변경 후 90일 이상 경과하였습니다.</h3>
						<form th:action="@{${actionUrl}}" th:object="${PasswordChangeForm}" method="post">
							<div class="input__item">
								<input type="password" id="password" name="password" placeholder="cur password" maxlength="14"> <span class="icon_lock"></span>
							</div>

							<div class="input__item">
								<input type="password" id="newPassword" name="newPassword" placeholder="new password" maxlength="14"> <span class="icon_lock"></span>
							</div>

							<div class="input__item">
								<input type="password" id="repeatPassword" name="repeatPassword" placeholder="repeat password" maxlength="14"> <span class="icon_lock"></span>
							</div>

							<button type="submit" id="submitButton" class="site-btn">변경하기</button>
						</form>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login__register">
						<h3>다음에 변경하기</h3>
						<a th:href="@{${buttonUrl}}" class="primary-btn" th:text="${buttonText}">30일 뒤에 변경하기</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<th:block th:replace="fragments.html :: alert-message"></th:block>
	<th:block th:replace="fragments.html :: default-script"></th:block>
</body>
</html>