<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments.html :: head"></head>
<body>
	<section class="login spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login__form">
						<h3>회원 탈퇴</h3>

						<form th:action="@{withdraw}" method="post">
							<div class="input__item">
								<input th:type="hidden" name="nickname" id="nickname" th:value="${#authentication.principal.nickname}" />
								<input type="password" id="password" name="password" placeholder="cur password" maxlength="14"><span class="icon_lock"></span>
							</div>
							<button type="Submit" id="submitButton" class="site-btn">회원 탈퇴</button>
						</form>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login__register">
						<h3>아이디를 유지하시겠습니까?</h3>
						<a href="/" class="primary-btn">메인으로</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<th:block th:replace="fragments.html :: alert-message"></th:block>
	<th:block th:replace="fragments.html :: default-script"></th:block>
</body>
</html>